.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#grafo {
  padding: 10rem;
}
.contenedorcito{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.button {
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: white;
  padding: 8px;
  cursor: pointer;
}
.button:hover{
  background-color: var(--alert-color);
}

.button:active {
  background-color: var(--primary-color);
}
.button-section {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

}
